/* 로그인 */

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-together {
    padding-top: 30px;
    padding-bottom: 10px;
    height: 170%;
    font-size: 300%;
    text-align: center;
}

.signin-together2 {
    height: 50px;
    font-size: 90%;
    text-align: center;
}

.signin-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: both;
}

.signin-id{
    margin-top: 5px;
    margin-bottom: 7px;
    width: 300px;
    font-size: 25px;
    border: 3px solid #FFCC66;
    border-radius: 10px;
}

.signin-pw{
    margin-top: 7px;
    margin-bottom: 5px;
    width: 300px;
    font-size: 25px;
    border: 3px solid #FFCC66;
    border-radius: 10px;
}

.signin-submit {
    display: flex;
    margin-top:10px;
    width: 300px;
    height: 30px;
}
.signin-submit button {
    cursor: pointer;
    width: 300px;
    border: none;
    background-color: #FF9900;
    border-radius: 5px;
}

/* 회원가입 */

.signup {
    display: grid;
    justify-content: center;
}