{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>같이먹자 채팅서비스</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra-style %}{% endblock %}
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-4 d-flex justify-content-start">
            <a href="/" class="btn btn-outline-warning btn-sm d-flex align-items-center justify-content-center text-nowrap" style="color: black;">
                채팅방 목록
            </a>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <ul class="nav col-12 col-md-auto justify-content-center">
            <h2><a href="http://localhost:3000/" class="nav-link px-2 link-secondary"><strong style="color: black;">같이먹자</strong></a></h2>
        </ul>
        </div>
        <div class="col-4 d-flex justify-content-end">
            {% if not user.is_authenticated %}
                <a href="{% url 'accounts:login' %}" class="btn btn-outline-warning btn-sm me-2 text-nowrap" style="color: black;">로그인</a>
            {% else %}
                <a href="{% url 'accounts:logout' %}" class="btn btn-outline-warning btn-sm text-nowrap" style="color: black;">로그아웃</a>
            {% endif %}
        </div>
    </header>

    {% bootstrap_messages %}

    {% block content %}{% endblock %}
</div>

{% block extra-script %}{% endblock %}

</body>
</html>